<h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="user.firstName" placeholder="First name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.lastName" placeholder="Last Name">
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput [(ngModel)]="user.email" placeholder="E-Mail">
  </mat-form-field>  
  <mat-form-field>
    <input matInput [(ngModel)]="user.phone" placeholder="Telephone">
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput [(ngModel)]="user.accountNumber" placeholder="Account Number">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="user.password" placeholder="Password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
</div>